<div>
  <app-errormodal *ngIf="showErrorModal" [errorMessage]="errMessage" (errorModalCloseEvent)="handleErrorModalClose($event)"></app-errormodal>
</div>
<section id="recover-pwd-section">
  <div id="login-div">
    <p>Enter e-mail address to receive password reset link</p>
    <form  (ngSubmit)="onSubmitForm()" #f="ngForm">
      <div>
        <input type="email" id="recoverPwdInput" name="recoverpwd" [(ngModel)]="templateEmail" required>
      </div>
        <button type="submit" class="btn btn-login" [disabled]="!f.valid">Submit</button>
    </form>
  </div>
</section>
