#notes-section {
  margin-top: 6rem;
}

#notes-grid {
  max-width: 65rem;
  margin: var(--space-8) auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--space-4);
}
